<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marc Márquez - Inicio</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <header>
        <h1>¡Bienvenido al mundo de Marc Márquez!</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Sobre Marc</a></li>
                <li><a href="/works">Palmarés</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="home-section">
            <h2>La leyenda en la pista</h2>
            <p>Descubre la pasión y el talento de uno de los pilotos más laureados de MotoGP.</p>
            <img src="/images/marquez_home.jpg" alt="Marc Márquez en acción" width="600">
            <p>Desde sus inicios, Marc Márquez Alentà ha demostrado una habilidad excepcional y una determinación
                inquebrantable que lo han llevado a la cima del motociclismo mundial.</p>
            <p>Sigue leyendo para conocer más sobre su trayectoria y sus logros.</p>
        </section>
        <img id="logo" src="/images/logo_marquez_header.png" alt="Logo Marc Márquez" class="logo-header">

    </main>
    <footer>
        <p>&copy; 2025 Fans de Marc Márquez</p>
    </footer>
</body>

</html>